<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>d7dbc87ea8c0b68452f7</string>
	<key>CLIENT_SECRET</key>
	<string>9fa2a43c208619ab8f7fb0201b1e3445d565a6cc</string>
</dict>
</plist>
